body {
  margin: 0;
  padding: 0;
  background: url('background.png') center/cover fixed no-repeat; /* 修改背景显示方式 */
}

p, h2 {
  display: inline;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.6); /* 半透明白色背景，透明度为0.6 */
  border-radius: 15px; /* 圆角矩形边框 */
  padding: 20px;
  max-width: 600px; /* 设置最大宽度，使内容不过分拉宽 */
  margin: auto; /* 居中显示 */
}
